.card {
  transition: transform 0.3s ease-in-out;
}

.card-body img {
  width: 100%;
  aspect-ratio: 12/9;
}

.card:hover {
  transform: scale(1.05);
}

/* .offcanvas {
  z-index: 1000;
}

footer {
  z-index: 1050;
} */

